.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.title {
    font-size: 3rem;
    color: #333;
}

.message {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.home-link {
    padding: 10px 12px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

.home-link:hover {
    background-color: blue;
}