.dashboard-section {
    display: flex;
    /* flex-direction: row; */
    border: 1px solid green;
    padding: 10px;
}

.sidebar {
    width: 200px;
    border-right: 1px solid #eee;
    padding-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
}

.sidebar li a:hover {
    color: dodgerblue;
}

.content {
    flex-grow: 1;
    padding-left: 20px;
}